<!DOCTYPE html>
<html ng-app="wechat">
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/weui/dist/style/weui.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-ui-swiper/dist/angular-ui-swiper.css">
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-ui-swiper/dist/angular-ui-swiper.js"></script>
    <script src="/javascripts/ng1/app.js"></script>
    <script src="/javascripts/ng1/controllers/topics.js"></script>
    <script src="/javascripts/ng1/controllers/topic.js"></script>
    <script src="/javascripts/ng1/factorys/topics.js"></script>


  </head>
  <body>

  <div ui-view style="width: 100%;"></div>

  
  </body>

</html>
