<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form method="post" action="https://api.weixin.qq.com/cgi-bin/menu/create">
        <input type="text" name="access_token" />
        <input type="text" name="body">
        <input type="submit" />
    </form>
</body>
</html>