

body {
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
}

a {
  color: #00B7FF;
}

.wx_gz_h2{  font-weight: 500; font-size: 16px; }
.wx_gz_time{color: #8c8c8c;}
.wx_gz_a{color: #607fa6; }
